<section class="p-grid">
    <!-- Heading Title -->
    <div class="heading p-col-12">
        <h3 class="title p-text-uppercase p-text-center text-white">Budget Calculator</h3>
    </div>

    <!-- Total Money -->
    <div class="total-container p-col-12">
        <div class="total-money p-text-center p-py-6" [ngClass]="{'red': totalBudget < 0, 'green': totalBudget >= 0}">
            {{totalBudget | currency:'USD' : '': '.0'}}
        </div>
    </div>
</section>

<!-- Add item to list -->
<section>
    <app-add-item (formSubmit)="addItem($event)"></app-add-item>
</section>

<!-- Detail list -->
<section>
    <app-list-item [budgetItems]="budgetItems" (deleteItem)="deleteItem($event)" (editItem)=editItem($event)>
    </app-list-item>
</section>