$indigo : #4E54C8;
$malibu : #8F94FB;
$mirage : #161C2A;

.heading {
    background: linear-gradient(to right top, $indigo, $malibu);

    .title {
        letter-spacing: 1px;
    }
}

.total {
    &-container {
        background-color: $mirage;
    }

    &-money {
        font-size: 3rem;

        &.red {
            color: var(--color-mandy);
        }

        &.green {
            color: var(--color-turquoise);
        }
    }
}

.p-button {
    border-radius: 4px !important;
    background-color: $indigo  !important;
    border: 1px solid $malibu !important;
}