<section class="p-grid">
    <!-- Heading Title -->
    <div class="heading p-col-12">
        <h3 class="title p-text-uppercase p-text-center text-white">Budget Calculator</h3>
    </div>

    <!-- Total Money -->
    <div class="total-container p-col-12">
        <div class="total-money p-text-center green p-py-6">{{money | currency:'USD' : 'symbol-narrow':'.0'}}
        </div>
    </div>
</section>

<!-- Add item to list -->
<section>
    <app-item></app-item>
</section>

<!-- Details -->
<div class="p-grid">
    <div class="p-sm-11 p-md-10 p-lg-5 p-mx-auto p-py-6">
        <div class="p-grid">
            <div class="p-lg-6 p-md-12 p-sm-12">
                <label for="incom">
                    <h3 class="p-text-uppercase text-caribbean">Incomes</h3>
                </label>

                <div class="detail-container p-d-flex p-jc-between p-p-2">
                    <div class="detail-description text-caribbean">
                        Salary
                    </div>
                    <div class="detail-income-amount text-caribbean p-px-1">
                        1000
                    </div>
                </div>
            </div>

            <div class="p-lg-6 p-md-12 p-sm-12">
                <label for="incom">
                    <h3 class="p-text-uppercase text-mandy">Expenes</h3>
                </label>

                <div class="detail-container p-d-flex p-jc-between p-p-2">
                    <div class="detail-description text-mandy">
                        Rent house
                    </div>
                    <div class="detail-expense-amount text-mandy p-px-1">
                        1000
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>