:host {
    h1 {
        color: green;
    }

    @import "/node_modules/primeng/resources/components/dropdown/dropdown.css";

    .p-dropdown {
        width: 14rem;
    }

    .p-dropdown {
        display: inline-flex;
        cursor: pointer;
        position: relative;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .p-component, .p-component * {
        box-sizing: border-box;
    }
    
    .p-dropdown {
        background: #ffffff;
        border: 1px solid #ced4da;
        transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
        border-radius: 3px;
    }
}
