<div class="p-grid hr">
    <div class="p-col-12 p-sm-11 p-md-10 p-lg-7 p-mx-auto p-py-6">
        <div class="p-grid">
            <div class="p-col-12 p-sm-12 p-md-12 p-lg-6">
                <label for="income">
                    <h3 class="p-text-uppercase text-caribbean">Incomes</h3>
                </label>

                <div class="budget-items" *ngFor="let item of budgetItems">
                    <app-item-card *ngIf="item.amount>= 0" [item]="item" (xButton)="onDelete(item)"></app-item-card>
                </div>
            </div>

            <div class="p-col-12 p-sm-12 p-md-12 p-lg-6">
                <label for="expense">
                    <h3 class="p-text-uppercase text-mandy">Expenses</h3>
                </label>

                <div class="budget-items" *ngFor="let item of budgetItems">
                    <app-item-card *ngIf="item.amount < 0" [item]="item" (xButton)="onDelete(item)"></app-item-card>
                </div>
            </div>
        </div>
    </div>
</div>