<div class="p-grid">
    <div class="p-sm-11 p-md-10 p-lg-5 p-mx-auto p-py-6">
        <div class="p-grid">
            <div class="p-lg-6 p-md-12 p-sm-12">
                <label for="incom">
                    <h3 class="p-text-uppercase text-caribbean">Incomes</h3>
                </label>

                <div class="budget-items" *ngFor="let item of budgetItems">
                    <app-item-card *ngIf="item.amount>= 0" [item]="item" (xButton)="onDelete(item)"></app-item-card>
                </div>
            </div>

            <div class="p-lg-6 p-md-12 p-sm-12">
                <label for="expenes">
                    <h3 class="p-text-uppercase text-mandy">Expenes</h3>
                </label>

                <div class="budget-items" *ngFor="let item of budgetItems">
                    <app-item-card *ngIf="item.amount < 0" [item]="item"></app-item-card>
                </div>
            </div>
        </div>
    </div>
</div>