<!-- <app-shadow-test></app-shadow-test> -->
<p-table [value]="customers" [resizableColumns]="true" [autoLayout]="true" [paginator]="true" [rows]="10"
    sortField="date" [sortOrder]="-1">
    <ng-template pTemplate="caption">
        <div class="table-header p-text-uppercase p-text-center">
            List of Customers
            <!-- <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Global Search" />
            </span> -->
        </div>
    </ng-template>

    <ng-template pTemplate="header">
        <tr>
            <th>ID</th>
            <th pSortableColumn="name">
                <div class="p-d-flex p-jc-between p-ai-center">
                    Name
                    <p-sortIcon field="name"></p-sortIcon>
                    <p-columnFilter class="p-ml-auto" type="text" field="name" display="menu"></p-columnFilter>
                </div>
            </th>
            <th pSortableColumn="country.name">
                <div class="p-d-flex p-jc-between p-ai-center">
                    Country
                    <p-sortIcon field="country.name"></p-sortIcon>
                    <p-columnFilter class="p-ml-auto" type="text" field="country.name" display="menu"></p-columnFilter>
                </div>
            </th>
            <th pSortableColumn="representative.name">
                <div class="p-d-flex p-jc-between p-ai-center">
                    Agent
                    <p-sortIcon field="representative.name"></p-sortIcon>
                    <p-columnFilter class="p-ml-auto" type="text" field="representative.name" display="menu">
                    </p-columnFilter>
                </div>
            </th>
            <th pSortableColumn="date">
                <div class="p-d-flex p-jc-between p-ai-center">
                    Date
                    <p-sortIcon field="date"></p-sortIcon>
                    <p-columnFilter class="p-ml-auto" type="text" field="date" display="menu"></p-columnFilter>
                </div>
            </th>
            <th pSortableColumn="status">
                <div class="p-d-flex p-jc-between p-ai-center">
                    Status
                    <p-sortIcon field="status"></p-sortIcon>
                    <p-columnFilter class="p-ml-auto" type="text" field="status" display="menu"></p-columnFilter>
                </div>
            </th>
            <th pSortableColumn="activity">
                <div class="p-d-flex p-jc-between p-ai-center">
                    Activity
                    <p-sortIcon field="status"></p-sortIcon>
                    <p-columnFilter class="p-ml-auto" type="text" field="activity" display="menu"></p-columnFilter>
                </div>
            </th>
            <th></th>
        </tr>

        <!--         <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>
                <p-dropdown [options]="statuses"  styleClass="p-column-filter" placeholder="Select a Status" [showClear]="true">
                    <ng-template let-option pTemplate="item">
                        <span [class]="'customer-badge status-' + option.value">&#123;&#123;option.label&#125;&#125;</span>
                    </ng-template>
                </p-dropdown>
            </th>
            <th></th>
            <th></th>
        </tr> -->
    </ng-template>

    <ng-template pTemplate="body" let-customer>
        <tr>
            <td>{{customer.id}}</td>
            <td>{{customer.name}}</td>
            <td>{{customer.country.name}}</td>
            <td class="p-d-flex p-ai-center">
                <p-avatar icon="pi pi-user" styleClass="p-mr-2" shape="circle"></p-avatar>
                {{customer.representative.name}}
            </td>
            <td>{{customer.date}}</td>
            <td class="p-text-uppercase">{{customer.status}}</td>
            <td>
                <p-progressBar [value]="customer.activity" [showValue]="false"></p-progressBar>
            </td>
            <td class="p-text-center"><button class="p-button-sm p-button-outlined p-button-rounded p-button-secondary"
                    pButton type="button" icon="pi pi-cog" iconPos="left"></button></td>
        </tr>
    </ng-template>
</p-table>