::ng-deep {

    .p-datatable-wrapper {
        font-size: 15px;
    }

    .p-progressbar {
        height       : 0.5rem;
        border-radius: 1.5rem;

        .p-progressbar-value {
            border-radius: 1.5rem;
            background   : #607D8B;
        }
    }

    .p-datatable .p-datatable-tbody>tr>td {
        padding: 0.5rem 1rem;
    }

    .p-button.p-button-icon-only.p-button-rounded {
        width : 2rem;
        height: 2rem;
    }
}