@use '../../../assets/scss/flags.scss';

%defaultFS {
    font-size: 14px;
}

::ng-deep {

    .p-datatable-wrapper {
        @extend %defaultFS;
    }

    .p-progressbar {
        height       : 0.5rem;
        border-radius: 1.5rem;

        .p-progressbar-value {
            border-radius: 1.5rem;
            background   : #607D8B;
        }
    }

    .p-datatable {
        .p-paginator {
            justify-content: flex-end;
        }

        .p-paginator-bottom * {
            @extend %defaultFS;
        }

        .p-datatable-tbody>tr>td {
            padding: 0.5rem 1rem;
        }
    }

    .p-button.p-button-icon-only.p-button-rounded {
        width : 2rem;
        height: 2rem;
    }

    .p-tooltip {
        @extend %defaultFS;
    }

    .p-calendar .p-datepicker {
        width: 20vw;
    }

    .p-button {

        &:disabled {
            cursor: not-allowed;
        }
    }
}

.customer-badge {
    border-radius: 2px;

    font-size     : 12px;
    letter-spacing: .3px;

    &.status-renewal {
        background-color: #eccfff;
        color           : #694382;
    }

    &.status-new {
        background-color: #b3e5fc;
        color           : #23547b;
    }

    &.status-unqualified {
        background-color: #ffcdd2;
        color           : #c63737
    }

    &.status-qualified {
        background-color: #c8e6c9;
        color           : #256029;
    }

    &.status-proposal {
        background-color: #ffd8b2;
        color           : #805b36;
    }

    &.status-negotiation {
        background-color: #feedaf;
        color           : #8a5340;
    }
}