<p-toast></p-toast>

<p-toolbar styleClass="p-mb-2">
    <ng-template pTemplate="left">
        <button pButton pRipple icon="pi pi-plus" class="p-button-raised p-button-outlined p-button-success p-mr-2"
            pTooltip="New" tooltipPosition="bottom" (click)="createNewCustomer()"></button>
        <button pButton pRipple icon="pi pi-trash" class="p-button-raised p-button-danger" pTooltip="Multiple Delete"
            tooltipPosition="bottom" [disabled]="!selectedCustomers || !selectedCustomers.length"
            [ngClass]="{'p-button-outlined': !selectedCustomers || !selectedCustomers.length}"
            (click)="deleteMultipleCustomers()"></button>
    </ng-template>

    <ng-template pTemplate="right">
        <button class="p-button-raised p-button-outlined" type="button" pButton icon="pi pi-link"
            (click)="menu.toggle($event)" pTooltip="Export" tooltipPosition="bottom"></button>
        <p-menu #menu [popup]="true" [model]="items"></p-menu>
    </ng-template>
</p-toolbar>

<!-- Table -->
<p-table #dt [value]="customers" [columns]="cols" dataKey="id" [rows]="10" [showCurrentPageReport]="true"
    [responsive]="true" [autoLayout]="true" [rowsPerPageOptions]="[5,10,25,50]" [loading]="loading"
    styleClass="p-datatable-customers" [paginator]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [globalFilterFields]="['name','country.name','representative.name','status']" sortField="date" [sortOrder]="-1"
    styleClass="p-datatable-customers" [exportFilename]="exportName" selectionMode="multiple"
    [(selection)]="selectedCustomers">

    <ng-template pTemplate="caption">
        <div>
            <div class="table-header p-d-flex p-jc-between p-ai-center">
                <div>
                    <h4 class="p-text-uppercase">List of Customers</h4>
                </div>

                <div class="p-d-flex p-ai-center p-ml-auto">
                    <span class="p-input-icon-left p-ml-2">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                            placeholder="Search keyword" />
                    </span>
                </div>
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="header" let-columns>
        <tr>
            <th></th>
            <th pSortableColumn="name">
                Name
                <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th pSortableColumn="country.name">
                Country
                <p-sortIcon field="country.name"></p-sortIcon>
            </th>
            <th pSortableColumn="representative.name">
                Agent
                <p-sortIcon field="representative.name"></p-sortIcon>
            </th>
            <th pSortableColumn="date">
                Date
                <p-sortIcon field="date"></p-sortIcon>
            </th>
            <th pSortableColumn="status">
                Status
                <p-sortIcon field="status"></p-sortIcon>
            </th>
            <th pSortableColumn="activity">
                Activity
                <p-sortIcon field="status"></p-sortIcon>
            </th>
            <th class="p-text-center">Actions</th>
        </tr>

        <tr>
            <th [style]="{width: '30px'}">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th [style]="{maxWidth: '150px'}">
                <p-columnFilter matchMode="contains" type="text" field="name"></p-columnFilter>
            </th>
            <th [style]="{maxWidth: '150px'}">
                <p-columnFilter matchMode="contains" type="text" field="country.name"></p-columnFilter>
            </th>
            <th [style]="{maxWidth: '100px'}">
                <p-columnFilter field="representative" matchMode="in" [showMenu]="false">
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <p-multiSelect [ngModel]="value" [options]="representatives" placeholder="Any"
                            (onChange)="filter($event.value)" optionLabel="name">
                            <ng-template let-option pTemplate="item">
                                <div class="p-multiselect-representative-option">
                                    <span class="p-ml-1">{{option.name}}</span>
                                </div>
                            </ng-template>
                        </p-multiSelect>
                    </ng-template>
                </p-columnFilter>
            </th>
            <th [style]="{width: '250px'}">
                <p-columnFilter class="p-ml-auto" type="date" field="date"></p-columnFilter>
            </th>
            <th [style]="{width: '200px'}">
                <p-columnFilter field="status" matchMode="equals" [showMenu]="false">
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <p-dropdown [ngModel]="value" [options]="statuses" (onChange)="filter($event.value)"
                            placeholder="Any" [showClear]="true">
                            <ng-template let-option pTemplate="item">
                                <span
                                    [class]="'p-py-1 p-px-2 p-text-bold p-text-uppercase customer-badge status-' + option.value">{{option.label}}</span>
                            </ng-template>
                        </p-dropdown>
                    </ng-template>
                </p-columnFilter>
            </th>
            <th colspan="2"></th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-customer>
        <tr>
            <td>
                <p-tableCheckbox [value]="customer"></p-tableCheckbox>
            </td>
            <td>
                {{customer.name}}
            </td>
            <td>
                <img src="../../../assets/flag_placeholder.png"
                    [class]="'p-mr-2 flag flag-' + customer.country.code.toLowerCase()" width="30">
                <span>{{customer.country.name}}</span>
            </td>
            <td class="p-d-flex p-ai-center">
                <p-avatar icon="pi pi-user" styleClass="p-mr-2" shape="circle"></p-avatar>
                <span>{{customer.representative.name}}</span>
            </td>
            <td>{{customer.date | date: 'MM/dd/yyyy'}}</td>
            <td>
                <span
                    [class]="'p-py-1 p-px-2 p-text-bold p-text-uppercase customer-badge status-' + customer.status">{{customer.status}}</span>
            </td>
            <td>
                <p-progressBar [value]="customer.activity" [showValue]="false" [pTooltip]="customer.activity + '%'"
                    tooltipPosition="top"></p-progressBar>
            </td>
            <td class="p-text-center">
                <button pButton pRipple icon="pi pi-pencil"
                    class="p-button-rounded p-button-text p-button-success p-mr-2"
                    (click)="editCustomer(customer)"></button>
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-text p-button-danger"
                    (click)="deleteCustomer(customer)"></button>
            </td>
        </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
        <tr>
            <td class="no-customer p-text-center p-py-2" [attr.colspan]="8">No customers found.</td>
        </tr>
    </ng-template>
</p-table>

<!-- Dialog -->
<p-dialog [(visible)]="customerDialog" [style]="{width: '500px', overflow: 'auto'}" [header]="dialogTitle"
    [modal]="true" styleClass="p-fluid" [dismissableMask]="true">
    <ng-template pTemplate="content">
        <div class="p-formgrid p-grid">
            <div class="p-field p-col">
                <label for="country" class="f-14">Country</label>
                <p-dropdown [options]="countries" [(ngModel)]="customer.country" optionLabel="name" [filter]="true"
                    filterBy="name" [showClear]="true" placeholder="Select a Country">
                    <ng-template pTemplate="selectedItem">
                        <div class="country-item country-item-value p-d-flex p-ai-center" *ngIf="customer.country">
                            <img src="../../../assets/flag_placeholder.png"
                                [class]="'p-mr-2 flag flag-' + customer.country.code.toLowerCase()" width="30" />
                            <div>{{customer.country.name}}</div>
                        </div>
                    </ng-template>
                    <ng-template let-country pTemplate="item">
                        <div class="country-item p-d-flex p-ai-center">
                            <img src="../../../assets/flag_placeholder.png"
                                [class]="'p-mr-2 flag flag-' + country.code.toLowerCase()" width="30" />
                            <div>{{country.name}}</div>
                        </div>
                    </ng-template>
                </p-dropdown>
                <small class="p-error" *ngIf="submitted && !customer.country.name">Country is required.</small>
            </div>

            <div class="p-field p-col">
                <label for="representative" class="f-14">Agent</label>
                <p-dropdown [options]="representatives" [(ngModel)]="customer.representative" optionLabel="name"
                    [filter]="true" filterBy="name" [showClear]="true" placeholder="Select an Agent">
                    <ng-template pTemplate="selectedItem">
                        <div>{{customer.representative.name}}</div>
                    </ng-template>
                    <ng-template let-item pTemplate="item">
                        <div>{{item.name}}</div>
                    </ng-template>
                </p-dropdown>
            </div>
        </div>

        <div class="p-formgrid p-grid">
            <div class="p-field p-col">
                <label for="status" class="f-14">Status</label>
                <p-dropdown [(ngModel)]="customer.status" inputId="status" [options]="statuses"
                    placeholder="Select a Status">
                    <ng-template let-option pTemplate="item">
                        <span
                            [class]="'p-py-1 p-px-2 p-text-bold p-text-uppercase customer-badge status-' + option.value">{{option.value}}</span>
                    </ng-template>
                </p-dropdown>
                <small class="p-error" *ngIf="submitted && !customer.status">Status is required.</small>
            </div>

            <div class="p-field p-col">
                <label for="activity" class="f-14">Activity (%)</label>
                <input percentage pInputText id="activity" [(ngModel)]="customer.activity" required />
                <small class="p-error" *ngIf="submitted && !customer.activity">Activity is required.</small>
            </div>
        </div>

        <div class="p-formgrid p-grid">
            <div class="p-field p-col">
                <label for="name" class="f-14">Name</label>
                <input type="text" pInputText id="name" [(ngModel)]="customer.name" required />
                <small class="p-error" *ngIf="submitted && !customer.name">Name is required.</small>
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-raised p-button-text p-button-danger"
            (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-raised p-button-text" type="submit"
            (click)="saveCustomer(customer)"></button>
    </ng-template>
</p-dialog>

<!-- Confirm Dialog -->
<p-confirmDialog #cd [style]="{width: '450px'}" [dismissableMask]="true">
    <p-footer>
        <button class="p-button-raised p-button-text p-button-plain" type="button" pButton icon="pi pi-times" label="No"
            (click)="cd.reject()"></button>
        <button class="p-button-raised p-button-text p-button-danger" type="button" pButton icon="pi pi-check"
            label="Yes" (click)="cd.accept()"></button>
    </p-footer>
</p-confirmDialog>

<!-- <app-table-main [customers]="customers" [selectedCustomers]="selectedCustomers" [statuses]="statuses"
    [representatives]="representatives" [loading]="loading" [exportName]="exportName" (edited)="editCustomer($event)"
    (deleted)="deleteCustomer($event)"></app-table-main> -->