$mirage     : #161C2A;
$pippin     : #FFDDE1;
$athens-gray: #E9ECEF;
$mercury    : #F5F5F5;

.container {
    position: relative;

    border-radius   : 6px;
    background-color: $athens-gray;

    transition: background-color 0.2s ease-out;

    &:hover {

        background-color: $mercury;
        box-shadow      : 0 0 1px 2px rgba(0, 0, 0, 0.2);
        cursor          : pointer;

        .btn-delete {
            transform: scale(1);
            opacity  : 1;
        }
    }

    .btn-delete {
        position: absolute;
        top     : -1rem;
        right   : -0.75rem;

        width : 1.5rem;
        height: 1.5rem;

        color           : var(--color-white);
        border-radius   : 50%;
        background-color: $mirage;

        opacity   : 0;
        transform : scale(0);
        transition: opacity 0.2s ease-in, transform 0.2s ease-in;

        &:hover {
            transform : scale(1.1);
            transition: all 0.2s ease-in;
        }
    }
}

.income {
    .description {
        color: var(--color-caribbean);
    }

    .amount {
        color           : var(--color-caribbean);
        background-color: var(--color-turquoise);
    }
}

.expense {
    .description {
        color: var(--color-mandy);
    }

    .amount {
        color           : var(--color-mandy);
        background-color: $pippin;
    }
}