@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root {
    --color-body : #F0F2F5;
    --color-purple      : #4e54c8;
    --color-turquoise   : #8f94fb;
}

body {
    box-sizing: border-box;

    font-family     : 'Nunito', sans-serif;
    background-color: var(--color-body);
}


p {
    margin: 0;
}

ul {
    li {
        list-style-type: none;
    }

    a {
        text-decoration: none;
    }
}